
    <input type="text" name="station_id" placeholder="ID stacji pomiarowej" /><br />
    <input type="text" name="source_id" placeholder="ID źródła" /><br />
    <input type="text" name="source_name" placeholder="nazwa źródła" /><br />
    <input type="text" name="country" placeholder="kod kraju" /><br />
    <input type="text" name="latitude" placeholder="szerokość geograficzna" /><br />
    <input type="text" name="longitude" placeholder="długość geograficzna" /><br />
    <input type="text" name="elevation" placeholder="wysokość nad poziomem morza (m)" /><br />
    <input type="text" name="element_id" placeholder="ID składnika" /><br />
    <input type="text" name="start_date" placeholder="data rozpoczęcia pomiarów" /><br />
    <input type="text" name="end_date" placeholder="data zakończenia pomiarów" /><br />
    
    <input type="submit" value="Potwierdź" />
  